.table {
  font-family: $sans;
  font-size: 12px;
  color: $black;       
  border-spacing: 0;
  
  th {
    border-bottom: 1px solid $black;
    font-size: 15px;
    color: $black;
  }

  tr, td {
    border-bottom: 1px solid $light-gray;
    padding: 10px;
  }

  tr.poc {
    background-color: $blue;
    color: white;
  }
}


//// boxes

div.personBox {
  float: none;
}

div.person {
  float: left;
  width: 125px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 1px solid $black;

  p {
    color: $black;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 2px;
    line-height: 15px;
    text-align: center;
  }

  p.name {
    font-size: 13px;
    font-weight: bold;
  }
}

div.person.poc {
  background-color: $blue;
  p {
    color: white;
  }
}

div.person.unconfirmed {
  background-color: $dark-gray;
  color: white;

  p {
    color: white;
  }
  
}


