.table {
  font-family: $sans;
  font-size: 12px;
  color: $black;       
  border-spacing: 0;

  
  th {
    border-bottom: 1px solid $black;
    font-size: 15px;
    color: $black;
  }

  tr, td {
    border-bottom: 1px solid $light-gray;
    padding: 10px;
  }

  tr.poc {
    background-color: $dark-blue;
    color: white;
  }
}


//// boxes

div.personBox {
  float: none;

}

div.person {
  float: right;
  width: 100px;
  height: 75px;
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color:white;
    font-size: 12px;
    line-height: 5px;
    margin: 7px;
  }
}


