.grouping {
  width: 50%;
  min-height: 50px;
  float: left;

  g.tick > text {
    font-size: 14px;
  }
}

span.label {
  font-size: 12px;
  font-family: $sans;
  padding: 5px;
  display: inline-block;
  margin-top: 5px;
  color: $black;
}

span#wapo {
 // background-color: #7D251C;
  color: white;
}

span.msa {
  background-color: #B3B3B3;
  color: white;
}

span.us {
  background-color: #333333;
  color: white;
}
