.grouping {
  width: 50%;
  min-height: 50px;
  float: right;

  g.tick > text {
    font-size: 14px;
  }
}

// wapo
#graphic3 {
}

#graphic4 {

}

span.label {
  font-size: 13px;
  font-family: $sans;
  padding: 5px;
  display: inline-block;
  margin-top: 5px;
  color: $black;
}

span#wapo {
 // background-color: #7D251C;
  color: white;
}



span.msa {
  background-color: #333333;
  color: white;
}

span.us {
  background-color: #B3B3B3;
}
