$sans: 'Open Sans', Helvetica, sans-serif;
$black: #222;
$gray: #666;
$orange: orange;

h1 {
  font-family: $sans;
  color: $black;
  font-size: 30px;
}

h2 {
  font-family: $sans;
  color: $gray;
  font-size: 25px;
}

.percent_workforce {
  stroke: $orange;
  stroke-width: 3px;
}

