$sans: Helvetica,
sans-serif;
$black: #222;
$gray: #666;
$orange: #F38C21;
$light-orange: #FFEDDC;
$green: #00B37C;
$dark-green: #004D36;
$light-green: #BEE7D1;
$dark-orange: #AA5C09;

$yellow: #EDD849;
$red: #D24435;
$blue: #0099FF;
$dark-blue: #004D80;
$light-blue: #CCEBFF;
$light-gray: #888;
$faint-gray: lighten(#888, 20%);
$background: lighten(whitesmoke, 2%);

h1 {
  font-family: $sans;
  color: $black;
  font-size: 28px;
}

h2 {
  font-family: $sans;
  color: $gray;
  font-size: 25px;
}

p {
  color: $black;
  font-family: $sans;
  font-size: 20px;
}

.grid {

  line {
    stroke: $faint-gray;
    stroke-width: 0.5px;
  }

  path.domain {
    opacity: 0;
  }
}


.axis {
  .tick {
    line,
    path {
      stroke: $light-gray;
    }

    text {
      fill: $gray;
      font-size: 18px;
    }
  }

  path.domain {
    stroke: $light-gray;
  }
}

//container
.graphic_container {
  width: 650px;
  background-color: $background;
  margin: 5px;
  padding: 5px;
}

@import 'newsroomMinorities';
@import 'newsroomDemographics';
