<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Voices chart</title>

  <!--[if lt IE 9]>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
<![endif]-->

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>

<!-- masteads for NYT and WaPo -->
<div class="graphic_container">
  <div class="grouping" id="nyt">
    <h2>NYT</h2>
      <div class="person"
          v-bind:class="{ poc: isPoc(person), unconfirmed: notConfirmed(person) }" 
          v-for="person in people">
        <p>{{ person.name }}</p>
        <p>{{ person.title}}</p>
      </div>
  </div>


  <div class="grouping" id="wapo">
    <h2>Wapo</h2>
      <div class="person"
          v-bind:class="{ poc: isPoc(person), unconfirmed: notConfirmed(person) }"
          v-for="person in people">
        <p>{{ person.name }}</p>
        <p>{{ person.title}}</p>
      </div>
  </div>

  <div style="clear:both"></div>

   <p class="sourceLine">Source: sources</p>
   <p class="sourceLine">Credit: Scott Pham / Voices</p>



</div>

<div style="clear:both"></div>

<div class="graphic_container">
  <div class="grouping" id="chicago">
    <h2>Chicago</h2>
      <div class="person"
          v-bind:class="{ poc: isPoc(person), unconfirmed: notConfirmed(person) }"
          v-for="person in people">
        <p>{{ person.name }}</p>
        <p>{{ person.title}}</p>
      </div>
   
    <p class="sourceLine">Source: sources</p>
    <p class="sourceLine">Credit: Scott Pham / Voices</p>

  </div>


  <div class="grouping" id="lat">
    <h2>LAT</h2>
      <div class="person"
          v-bind:class="{ poc: isPoc(person), unconfirmed: notConfirmed(person) }"
          v-for="person in people">
        <p>{{ person.name }}</p>
        <p>{{ person.title}}</p>
      </div>
  </div>
</div>

<div style="clear:both"></div>
<div class="graphic_container">
  <h2>US</h2>
  <div class="graphic" id="graphic2"></div>
  <p class="sourceLine">Source: sources</p>
  <p class="sourceLine">Credit: Scott Pham / Voices</p>

</div>


<div class="graphic_container">
  <div class="grouping">
    <h2>NYT</h2>
    <span class="label" id="nyt" style="color:white">New York Times</span>
    <span class="label">vs.</span>
    <span class="label msa" style="color:white">New York Metro Area</span>
    <br />
    <span class="label">vs.</span>
    <span class="label us">US</span>

    <div class="graphic" id="graphic3"></div>
  </div>

  <div class="grouping">
    <h2>WaPo</h2>
    <span class="label" id="wapo">Washington Post</span>
    <span class="label">vs.</span>
    <span class="label msa">Washington Metro Area</span>
    <br />
    <span class="label">vs.</span>
    <span class="label us">US</span>
    <div class="graphic" id="graphic4"></div>
  </div>
   <p class="sourceLine">Source: sources</p>
   <p class="sourceLine">Credit: Scott Pham / Voices</p>
</div>

<!-- latimes  -->
<div class="graphic_container">
  <div class="grouping">
    <h2>LAT</h2>
    <span class="label" id="lat" style="color:white">Los Angeles Times</span>
    <span class="label">vs.</span>
    <span class="label msa" style="color:white">Los Angeles Metro Area</span>
    <br />
    <span class="label">vs.</span>
    <span class="label us">US</span>

    <div class="graphic" id="graphic5"></div>
  </div>

  <div class="grouping">
    <h2>WSJ</h2>
    <span class="label" id="wsj" style="color:white">Wall Street Journal</span>
    <span class="label">vs.</span>
    <span class="label msa" style="color:white">New York Metro Area</span>
    <br />
    <span class="label">vs.</span>
    <span class="label us">US</span>

    <div class="graphic" id="graphic6"></div>
  </div>
   <p class="sourceLine">Source: sources</p>
   <p class="sourceLine">Credit: Scott Pham / Voices</p>
</div>

  <div class="graphic_container">
    <h1>Minority representation in newsrooms</h1>
    <p>Here is some body text</p>
    <div class="graphic" id="graphic1"></div>
    <p class="sourceLine">Source: sources</p>
    <p class="sourceLine">Credit: Scott Pham / Voices</p>

  </div>

    <script type="text/javascript" src="app.js"></script>

  </body>

</html>
